* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  margin-top: 1em;
}
a, u {
  text-decoration: none;
}

a:visited, a:hover, a:active, a:link {
  color: black;
}

.navbar {
  margin: 0 auto;
  max-width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #24628e;
  display: flex;
  justify-content: space-between;
}

.login {
  background-color: #1c304a;
  align-self: flex-end;
  height: 60px;
  width: 114px;
  font-size: 15px;
  text-transform: uppercase;
  color: #13ffe2;
}

.logged {
  background-color: #1c304a;
  display: flex;
  height: 60px;
  width: 300px;
  font-size: 15px;
  text-transform: uppercase;
  color: #13ffe2;
}

.logout {
  align-self: flex-end;
  color: #13ffe2;
  font-size: 15px;
}

.avatar {
  background-color: #1c304a;
  align-self: flex-start;
  height: 60px;
  width: 114px;
  font-size: 15px;
  text-transform: uppercase;
  color: #13ffe2;
}

.avatar_img {
  width: 40px;
  height: 40px;
  border: solid 1px #13ffe2;
  border-radius: 50%;
  margin: 10px;
}

.separator {
  color: #ffffff;
  align-self: flex-end;
  margin: 0 10px 0 10px;
}

.logo {
  align-self: flex-start;
  width: 126px;
  z-index: 1;
}

.instrumentsbg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("bg-image.jpeg");
  background-repeat: repeat;
  width: 100%;
  height: 126px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

.instrumentsbg a {
  font-size: 8px;
  margin: 10px;
  align-self: flex-end;
}

.cta_create {
  box-shadow: 1px 2px 2px 3px rgba(30,186,149);
  height: 60px;
  border-radius: 5px;
  background-color: rgba(30,186,149, 0.1);
  font-weight: bold;
}

.edit_and_delete {
  display: flex;
  border-radius: 5px;
  border: 1px solid #85ca85;
  background-color: #d4e4d4;
  justify-content: space-around;
}

.userpref a:visited, a:hover, a:active, a:link {
  color: #076153;
}

/* ===============================
          GRID LAYOUT
   =============================== */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid {
  margin-top: 60px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 30px;
  margin-bottom: 60px;
}

/* ===============================
          GRID ITEMS LAYOUT
   =============================== */

.grid_item {
  /* margin-left: 10%; */
  width: 100%;
}

.region {
  width: 100%;
  height: 273px;
  margin: 0 auto;
  text-align: center;
  line-height: 73px;
  border: 1px solid rgba(232, 235, 233);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  transition: all .1s linear;
  display: flex;
  flex-direction: column;
}

.flash {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.region_name {
  order: 1;
  align-self: center;
}

.region_img {
  order: 2;
  align-self: center;
  width: 145px;
  height: 128px;
}
.moreinfo {
  height: 36px;
  width: 145px;
  align-self: center;
  margin-top: 1em;
  border-radius: 3px;
  border: solid 1px #24628e;
  order: 3;
}

.moreinfo_text {
  line-height: 32px;
  font-size: 12px;
  text-transform: uppercase;
  color: #1c304a;
}
/* ===============================
          MEDIA QUERIES
   =============================== */

/* Breakpoints for Ipad */
@media (max-width: 1024px) {
  .moreinfo {
    width: 125px;
  }
}

/* Breakpoints for Medium Screens */
@media (max-width: 950px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .region {
    width: 100%;
    height: 270px;
  }
}

/* Breakpoints for Small Screens */

@media (max-width: 430px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 775px) {
  .logo_img {
    height: 90px;
    width: 105px;
  }

  .instrumentsbg {
    font-size: 13px;
    height: 81px;
  }

  .instrumentsbg a {
    font-size: 5px;
  }

  .grid_item {
    margin-left: 0;
  }

  .navbar {
    margin: 0;
    width: 100%;
    height: 60px;
  }

  .login {
    height: 60px;
  }
}
