{% extends "base.html" %}
{% block content %}

{% if instruments %}
  <div class="instruments_header"><a class="cta_create_region" href="/create">Add an Instrument!</a></div>
  <div class="table">
    {% for instrument in instruments %}
    <div class="table_title">
      <p>Instrument</p>
      <p>Title</p>
    </div>
    <div class="instrument">
        <div class="instrument_info">
          {% if instrument.picture %}
            <a href="/details/{{instrument.id}}"><img class="table_img" src='{{instrument.picture}}' alt="instrument picture"/></a>
          {% else %}
            <a href="/details/{{instrument.id}}"><img class="table_img" src="/static/images/nopic.svg" alt="no picture"/></a>
          {% endif %}
          <p class="instrument_name">{{instrument.name}}</p>
        </div>
        <div class="edit_and_delete" style="display:flex;">
          <a class="userpref" href="/edit/{{instrument.id}}"><div class="edit">Edit</div></a>
          <a class="userpref" href="/delete/{{instrument.id}}"><div class="delete">Delete</div></a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}

{% endif %}
{% endblock %}
