<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'> -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
    href="/static/css/styles.css?q=15345753257"
    type="text/css" media="screen"
    charset="utf-8"/>
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700" rel="stylesheet">
		<title>Exotic Music Instruments</title>
	</head>
	<body>
		<div class="navbar">
			<a href="/"><div class="logo"><img class="logo_img" src="/static/css/logo.svg"></div></a>
			{% if user %}
			<div class="logged">
				<a href="/dashboard"><div><img class="avatar_img" src='{{user.picture}}'/></div></a>
				{% if user.name|length > 10 %}
					<div class="avatar">{{user.name[:9]}}</div>
				{% else %}
					<div class="avatar">{{user.name}}</div>
				{% endif %}
				<div class="separator">|</diV>
					<a href="/logout">
							<div class="logout">Logout</div>
					</a>
			</div>
			{% else %}
				<a href="/login">
					<div class="login">Login</div>
				</a>
		 {% endif %}
  	</div>
		{% if dashboard %}
		<div class="instrumentsbg">
			<h1>My Instruments</h1>
			<a href="https://www.freepik.com/free-photos-vectors/music" target="_blank" rel="noopener noreferrer">Music vector created by freepik - www.freepik.com</a>
		</div>
		{% else %}
		<div class="instrumentsbg">
			<h1>Instruments Per Region</h1>
			<a href="https://www.freepik.com/free-photos-vectors/music" target="_blank" rel="noopener noreferrer">Music vector created by freepik - www.freepik.com</a>
		</div>
		{%endif%}
		  {% with messages = get_flashed_messages() %}
				<div>
		    {% if messages %}
		    {%for message in messages%}
		        <div class="flash"> {{ message }}!</div>
		    {%endfor%}
		    {% endif %}
				</div>
		  {% endwith %}
		<main class="container">
				{% block content %}
				{% endblock %}
		</main>
	</body>
</html>
