{% extends "base.html" %}
{% block content %}
{% for region in regions %}
  <div class="grid_item">
      <a href='{{region.name.replace(" ", "_").lower()}}'>
        <div class="region">
            <h3 class="region_name">{{region.name}}</h3>
            {% with formatted_name = region.name.replace(" ", "_").lower() %}
            <img class="region_img" src="/static/css/{{formatted_name}}.svg"/>
            {% endwith %}
            <div class="moreinfo"><p class="moreinfo_text">See More</p></div>
        </div>
      </a>
  </div>
{% endfor %}
{% endblock %}
