{% extends "base.html" %}
{% block content %}
<div class="cta_create"><a href="/oceania/create">Add an Instrument to Oceania's Instruments list!</a></div>
<h1>Oceania's Instruments</h1>

{% for instrument in oceania_instruments %}
    <div class="instrumentcard">
      <h2>{{instrument.name}}</h2>
        <p>{{instrument.description}}</p>
        <img src='{{instrument.picture}}' height=60 width=60/>
        {% if instrument.credit %}
            <span>{{instrument.credit}}</span>
        {% endif %}
        {% if user %}
        <div class="edit_and_delete">
          <a class="userpref" href="/edit/{{instrument.id}}"><div>Edit</div></a>
          <a class="userpref" href="/delete/{{instrument.id}}"><div>Delete</div></a>
        </div>
        {% endif %}
  </div>
{% endfor %}
{% endblock %}
